{% extends 'base.html' %}

{%block head %}
<title>Store Inventory</title>
{% endblock %}

{% block body %}
<div class="col-sm-10 offset-sm-1">
    <h1>Store Inventory</h1>
   <!-- 4,5,7,8 are floats-->
    {% if items|length <1 %}
    <h4>There are no items.</h4>
    {% else %}

    <table class="table-striped table">
        <thead>
        <tr>
            <th>item</th>
            <th>buy from</th>
            <th>seller name</th>
            <th>seller price</th>
            <th>seller shipping</th>
            <th>selling on</th>
            <th>my price</th>
            <th>my shipping</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in items %}
            <tr>
                <td>{{ i.item }}</td>
                <td>{{ i.buy_from }}</td>
                <td>{{ i.seller_name }}</td>
                <td>{{ i.seller_price }}</td>
                <td>{{ i.seller_shipping }}</td>
                <td>{{ i.selling_on }}</td>
                <td>{{ i.my_price }}</td>
                <td>{{ i.my_shipping }}</td>
                <td>
                    <a href="{{ url_for('.delete',id=i.id) }}" class="btn btn-sm btn-danger">Delete</a>
                    <a href="/update/{{i.id}} "class="btn btn-sm btn-warning">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            </table>
            {% endif %}

    <table>

     </table>

            <form action="/" method="POST">
    <fieldset> <legend>Add one</legend>
                    Item:
                <input type="text" name="item" id="item"/>
                    Buy from:
                <input type="text" name="buy_from" id="buy_from"/>
                    <br>
                    Seller name:
                <input type="text" name="seller_name" id="seller_name"/>
                    Seller's price:
                <input type="text" name="seller_price" id="seller_price"/>
                    <br>
                    Seller Shipping price:
                <input type="text" name="seller_shipping" id="seller_shipping"/>
                    I'm selling on:
                <input type="text" name="selling_on" id="selling_on"/>
                  <br>  My Price:
                <input type="text" name="my_price" id="my_price"/>
                    My Shipping:
                <input type="text" name="my_shipping" id="my_shipping"/>
                <input type="submit" value="Add Item"/>
            </fieldset></form>
</div>
{% endblock %}


